# Cloudinary credentials
# Lấy tại: https://cloudinary.com/console → Dashboard
CLOUDINARY_CLOUD_NAME=dsun7efy3
CLOUDINARY_API_KEY=137924639376895
CLOUDINARY_API_SECRET=YvgbkpgJjuzf_k_sQX1HzrLqtdI
LEADS_WEBHOOK_URL="https://script.google.com/macros/s/AKfycbxdMeleRlileRQGDMc_xsl3Zol_Hs68KKcMFjW0PhbBuOA3F5Of_OoXqxndw25y_IKEkg/exec"
